<section class="row">
<% albums.each do |album| %>
  <div class="col-md-6">
    <div class="post-image">
      <div class="pop"><%= image_tag("image2.jpg",size: "200x200") %></div>
      <div class="post-data">
        <%= image_tag("image2.jpg", class: 'avatar') %>
        <a href="#" class="post-catagory"><%= User.find(album.user_id).fullname %></a>
        <div class="post-meta">
          <a href="#" class="post-title">
              <h5><%= album.title %></h5>
          </a>
          <a href="#" class="post-descripton">
              <h6><%= album.description %></h6>
          </a>
          <p class="post-like glyphicon glyphicon-heart"><span></span><span>123</span></p>
          <p class="post-date" ><span>7:00 AM</span> | <span>April 14</span></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
</section>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview">
      </div>
    </div>
  </div>
</div>
