<div class="add_photo_album">
  <%= link_to new_album_path do %>
    <button type="button" class="btn btn-primary"><%= t('.add_album') %></button>
  <% end %>
</div>
<hr>
<div class="row">
  <% @albums.each_with_index do |album| %>
    <div class="col-lg-3 col-md-4 col-xs-12">
      <div class="thumbnail">
        <% album.image_in_album.each_with_index do |image, index| %>
          <%= image_tag(image.image.url(:thumb), class: 'img-responsive', id: "photo#{index}") %>
        <% end %>
        <div class="caption">
          <p><%= album.title %></p>
          <%= link_to edit_album_path(album) do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </div>
        <% unless album.share_mode %>
          <span class = "fa fa-lock"></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="paginate">
  <%= paginate @albums %>
</div>