<h3 class="text-primary"><%= t('.new_album') %></h3>
<hr>
<%= form_for @album, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', object: @album %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :share_mode, 'Share mode' %>
    <%= f.select :share_mode, [['Public', true], ['Private', false]], {}, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :photos %>
    <%= f.file_field :images, multiple: true, class: 'form-control' %>
  </div>
  <%= f.submit t('.btn_create_album'), class: 'btn btn-primary'%>
<% end %>
