<div class="row">
<% photos.each do |photo| %>
  <div class="col-md-6 col-xs-12">
    <div class="post-image">
      <div class="pop"><%= image_tag(photo.image.url ,size: "200x200") %></div>
      <div class="post-data">
        <%= image_tag( photo.user.avatar.url(:thumb), class: 'avatar') %>
        <h5 class="post-name text-primary" ><%= photo.user.fullname %></h5>
        <div class="post-meta">
          <h5 class="post-title"><%= photo.title %></h5>
          <h6 class="post-description"><%= photo.description %></h6>
        </div>
        <span class="post-like glyphicon glyphicon-heart"></span>
        <span class="number-like">123</span>
        <span class="post-date"><%= format_time(photo.created_at) %></span>
      </div>
  </div>
</div>
<% end %>
</div>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only"></span>
        </button>
        <h4 class="modal-title" id="modal-title"></h4>
      </div>
      <div class="modal-body">
        <img src="" class="imagepreview">
      </div>
      <div class="modal-footer">
        <h6 class="modal-description"></h6>
      </div>
    </div>
  </div>
</div>