<h3 class="text-primary"><%= t('.new_photo') %></h3>
<hr>
<%= form_for @photo do |f| %>
  <%= render 'shared/error_messages', object: @photo %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :share_mode, 'Share mode' %><br>
    <%= f.select :share_mode, [['Public', true], ['Private', false]],{} , {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>
  <%= f.submit t('.btn_create_photo'), class: 'btn btn-primary'%>
<% end %>