<h3 class="text-primary">New Photo</h3>
<hr>
<%= form_for @photo do |f| %>
  <% if @photo.errors.any? %>
    <h3>Some errors were found:</h3>
    <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :share_mode, 'Share mode' %><br>
    <%= f.select :share_mode, [['Public', true], ['Private', false]],{} , {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>
  <%= f.submit :Create, class: 'btn btn-primary'%>
<% end %>